*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
img{
    height: 125px;
    width: 125px;
    display: block;
    margin: 0px auto;

}

body{
    margin-left: 50 px;
    margin-right: 50 px;
}