*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
img{
    height: 125px;
    width: 125px;
    display: block;
    margin: 0px auto;

}

p1{
    margin-left: 50 px;
    margin-right: 50 px;
    text-align: center;
    font-size: medium;   
}

p2{
    margin-left: 50 px;
    margin-right: 50 px;
    text-align: center;
    font-size: medium;  
}

p3{
    margin-left: 50 px;
    margin-right: 50 px;
    text-align: center;
    font-size: medium;
}